



.counter{
    color:black;
    font-size: 50px;
}

.counter-button {
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    font-size: 30px;
}

.containerSkills {
    background-color: white;
}

